---
---

@import "bootstrap";

$black: #1a1a1a;
$white: #f7f7f7;
$darkgrey: #606666;
$lightgrey: #f3f3f3;

body  {
  text-align: center;
  background-color: $white;
  color: $black;
  padding-left: 0;
  margin-left: 0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  // margin-top: 10vh;
}

#header {
  // display: table;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  min-height: 75vh;
  background-color: none !important;

  iframe {
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    width:100%;
    height:75vh;
    border:none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:fixed;
  }

  #logo {
    z-index: 999;
    pointer-events: none;
    width: 50%;
    height: auto;
  }

  @media (max-width: 500px) {
    #logo {
      width: 90% !important;
    }
  }

}

.section {
  display: table;
  min-height: 75vh;
  background-color: $white;
  padding: 0;
  width:100%;
}

.center-align {
  display: table-cell;
  vertical-align: middle;
}

#social {
  height: 10vh;
  display: table;
  width: 100%;

  a {
    margin: auto 1vw;
  }

  img {
    height: 40px;
    width: auto;
  }
}

#visit {
  span {
    text-transform: uppercase;
  }
}

#contact {
  background-color: $darkgrey;
  color: $white;
  min-height: 50vh;

  span {
    display: block;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 2vh;
  }
}

#members {
  background-color: $darkgrey;
  min-height: 25vh;

  p {
    color: $white;
    text-transform: lowercase;
    margin-top: 5vh;

    span {
      font-size: 14pt;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  p:last-child {
    margin-bottom: 5vh;
  }
}

#names {

  background-color: $white;

  p {

    text-transform: lowercase;

    span {
      font-size: 14pt;
      font-weight: bold;
      text-transform: uppercase;
      color: $darkgrey;
    }
  }
}

#clients {

  background-color: white;
  padding-bottom: 5vh;

  .client {
    // float: left;
    // width: 33%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 300px;
    background-color: $lightgrey;

    img {
      width: 70%;
    }

    .client-img {
      background-size: contain;
      // position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      height: 70%;
      width: 70%;
}
  }

  h1 {
    padding-top: 10vh;
    padding-bottom: 5vh;
  }

}

#map {
    width: 100%;
    height: 75vh;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.videoWrapper {
	position: relative;
	// padding-bottom: 56.25%; /* 16:9 */
	// padding-top: 25px;
  padding: 0;
	height: 75vh;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tint {
  background-color: $darkgrey;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
}
