---
layout: default
---

<div class="row">
  <div class="col-md-12 section">
    <h1>We help you deliver unique<br />experiences to your audence</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section">
    video
  </div>
</div>

<div class="row">
  <div class="col-md-12 section"  id="clients">
    <h1>We've done work for</h1>

    {% include client-logo.html clientname="northside.png" %}
    {% include client-logo.html clientname="tinderbox.png" %}
    {% include client-logo.html clientname="madmarked.jpeg" %}

  </div>
</div>

<div class="row">
  <div class="col-md-12 section" id="contact">
    <div class="container">
      <h1>get in touch<br />and give your audience a<br />unique experience</h1>
      <span>Tel: +45 28 93 69 02</span><br />
      <figure class="tint">
        <img src="assets/images/ashi.jpg" />
        <img src="assets/images/ashi.jpg" />
        <img src="assets/images/ashi.jpg" />
      </figure>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 section" id="visit">
    <h1>visit our studio</h1>
    <span>
      Studsgade 40 st. tv.<br />
      8000 Aarhus C.
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section">
    {% include map.html %}
  </div>
</div>
