---
layout: default
---

<div class="row">
  <div class="col-md-12 section">
    <div class="center-align">
      <div class="container">
        <h1>We help you deliver unique<br />experiences to your audence</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row hidden-xs hidden-sm">
  <div class="col-md-12 section">
    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0WizNp4896k" frameborder="0" ></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section"  id="clients">
    <div class="container">
      <h1>We've worked<br />
        with these brands</h1>

      {% include client-logo.html clientname="northside.png" %}
      {% include client-logo.html clientname="tinderbox.png" %}
      {% include client-logo.html clientname="madmarked.png" %}
      {% include client-logo.html clientname="moslogo.jpg" %}
      {% include client-logo.html clientname="milk.JPG" %}
      {% include client-logo.html clientname="dr.png" %}
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 section" id="contact">
    <div class="center-align">
      <div class="container">
        <h1>get in touch<br />and give your audience a<br />unique experience</h1>
        <span>Tel: +45 28 93 69 02</span><br />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="members">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-4">
          <!-- <img src="assets/images/ashi.jpg" /> -->
          <div style="background-image: url(assets/images/ashi.jpg)" class="tint"></div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!-- <img src="assets/images/jan.jpg" /> -->
          <div style="background-image: url(assets/images/jan.jpg)" class="tint"></div>
        </div>
        <div class="col-md-4 col-sm-4">
          <!-- <img src="assets/images/lund.jpg" /> -->
          <div style="background-image: url(assets/images/lund.jpg)" class="tint"></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="names">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-4">
          <p>
            <span>Anders Jepsen</span><br />
            anders.jepsen@kigop.com
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <span>Jan Detlefsen</span><br />
            jan.detlefsen@kigop.com
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <span>Anders Lund</span><br />
            anders.lund@kigop.com
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section" id="visit">
    <div class="center-align">
      <div class="container">
        <h1>visit our studio</h1>
        <br />
        <span>
          Studsgade 40 st. tv.<br />
          8000 Aarhus C.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section">
    {% include map.html %}
  </div>
</div>
