---
layout: default
---

<div class="row">
  <div class="col-md-12 section">
    <div class="center-align">
      <div class="container custom-width">
        <h1>We help you deliver unique experiences to your audence</h1>
        <p>
          We believe experiences change attitudes and move world views. In today's world
          it is no longer enough to merely engage your audience. They want to explore
          and be immersed in your brand to create a long lasting personal connection.
          We're at the verge of the virtual reality revolution that will take audence
          engagement into the 21st century. We help you navigate the new reality
          and work closely with your brand to bring it successfully into VR.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row hidden-xs hidden-sm">
  <div class="col-md-12 section">
    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JmS9trbDH3Y" frameborder="0" ></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section"  id="clients">
    <div class="container">
      <h1>We've worked<br />
        with these brands</h1>

      {% include client-logo.html clientname="northside.png" %}
      {% include client-logo.html clientname="tinderbox.png" %}
      {% include client-logo.html clientname="madmarked.png" %}

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 section" id="contact">
    <div class="center-align">
      <div class="container">
        <h1>get in touch</h1>
        <span>Tel: +45 28 93 69 02</span><br />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="members">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div style="background-image: url(assets/images/ashi.jpg)" class="tint"></div>
          <p class="visible-sm visible-xs">
            <span>Anders Jepsen</span><br />
            anders.jepsen@kigop.com
          </p>
        </div>
        <div class="col-md-4">
          <div style="background-image: url(assets/images/jan.jpg)" class="tint"></div>
          <p class="visible-sm visible-xs">
            <span>Jan Detlefsen</span><br />
            jan.detlefsen@kigop.com
          </p>
        </div>
        <div class="col-md-4">
          <div style="background-image: url(assets/images/lund.jpg)" class="tint"></div>
          <p class="visible-sm visible-xs">
            <span>Anders Lund</span><br />
            anders.lund@kigop.com
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row hidden-xs hidden-sm">
  <div class="col-md-12" id="names">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-4">
          <p>
            <span>Anders Jepsen</span><br />
            anders.jepsen@kigop.com
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <span>Jan Detlefsen</span><br />
            jan.detlefsen@kigop.com
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <span>Anders Lund</span><br />
            anders.lund@kigop.com
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section" id="visit">
    <div class="center-align">
      <div class="container">
        <h1>visit our studio</h1>
        <br />
        <span>
          Norsgade 16 o.g.<br />
          8000 Aarhus C.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 section">
    {% include map.html %}
  </div>
</div>
