<div class="row">
  <div class="col-md-12" id="social">
    <div class="center-align">
      <a href="http://facebook.com/{{site.facebook_username}}"><img src="assets/images/social/facebook.png" /></a>
      <a href="http://instagram.com/{{site.instagram_username}}"><img src="assets/images/social/instagram.png" /></a>
      <a href="http://youtube.com/channel/{{site.youtube_username}}"><img src="assets/images/social/youtube.png" /></a>
      <a href="http://linkedin.com/company/{{site.linkedin_username}}"><img src="assets/images/social/linkedin.png" /></a>
    </div>
  </div>
</div>
